// 鼠标经过时 内容上移并出现阴影的动画
@mixin hoverShadow {
  transition: all .5s;
  &:hover {
    transform: translate3d(0, -3px, 0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2)
  }
}
// 伪类使用iconfont 
@mixin pseudoIconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 2px
}